.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px;
  margin: auto;
  word-wrap: wrap;
}

.about-text {
  width: 50%;
  font-size: 1.5em;
  color: #f7ebec;
  text-align: right;
}

.portrait-pic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 6px solid var(--secondary);
  background: #1d1e2c;
  padding: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.portrait-pic:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
