.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #59656f;
  padding: 0 3em;
}

.titles {
  font-size: 2.5em;
  color: #f7ebec;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.title-container {
  display: flex;
  justify-content: center;
  padding: 0 2em;
}

.techContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.knowledge-container {
  position: absolute;
  left: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  gap: 10px;
  z-index: 2;
}

.projects-container {
  background-color: #59656f;
  padding: 20px;
  border-radius: 8px;
}
