header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1e2c;
  color: #1d1e2c;
  padding: 1em 3em;
  text-align: center;
  height: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #e31b6d;
  text-decoration: none;
}

.mainTitle {
  font-size: 1.3em;
  margin: 0;
  color: #f7ebec;
}
